body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #ffffff;
    color: #000;
    margin: 0;
    padding: 0;
}

body {
    background-image: url();
    background-size: cover; /* Ajusta a imagem para cobrir toda a área do corpo */
    background-repeat: no-repeat; /* Evita repetir a imagem */
    background-attachment: fixed; /* Torna a imagem fixa enquanto a página é rolada */
}

header {
    background-color: rgba(0, 123, 255, 0.7); /* Azul transparente */
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: left;
    position:fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    border-radius: 50px;
}

.menu-toggle {
    cursor: pointer;
}

.menu {
    display: none;
    transition: transform 0.3s ease;
}

.menu.active {
    display: block;
}

.menu ul {
    list-style-type: none;
    margin: 10;
    padding: 15;
}

.menu ul li {
    display: block;
    margin-bottom: 20px;
}

.menu ul li a {
    color: #fff;
    text-decoration: none;
}

.menu ul li a:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
    margin-top: 80px; /* Ajuste para evitar sobreposição com o cabeçalho */
}

.titulo{
    background-color: #757575;
        color: #fff;
        text-align: center;
        padding: 20px 0;
        margin-top: 100px;
    }
    
    h1 {
        margin: 0;
    }
    
    h2 {
        color: #333;
        display: flex;
        align-items: center;
    }
    
    h2 i {
        margin-right: 10px;
    }
    
    main {
        padding: 20px;
    }
    
    section {
        margin-bottom: 30px;
    }
    
    
    
    h1 {
        margin: 0;
    }
    
    main {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 20px;
        margin-top: 100px;
    }
    
    section.developer {
        background-color: #fff;
        border-radius: 10px;
        padding: 20px;
        margin-bottom: 20px;
        width: 300px;
        transition: transform 0.3s ease;
    }
    
    section.developer:hover {
        transform: scale(1.05);
    }
    
    h2 {
        color: #333;
    }
    
    img {
        max-width: 50%;
        height: auto;
        border-radius: 10px;
        margin-bottom: 10px;
    }
    
    .social-icons {
        margin-top: 10px;
    }
    
    .social-icons a {
        margin-right: 10px;
        color: #333;
        font-size: 20px;
    }
    
    
    footer { 
        background-color: #333;
        color: #fff;
        text-align: center;
        padding: 20px;
        width: 100%;
        margin-left: -10px;
        margin-top: 500px;
    }