body {
    font-family: 'Times New Roman', Times, serif;
    background-color: rgba(168, 197, 226, 0.7);
    margin: 0;
    padding: 0;
    margin-left: 10px;
}

body {
    background-image: url();
    background-size: cover; /* Ajusta a imagem para cobrir toda a área do corpo */
    background-repeat: no-repeat; /* Evita repetir a imagem */
    background-attachment: fixed; /* Torna a imagem fixa enquanto a página é rolada */
}

header {
    background-color: rgba(0, 123, 255, 0.7); /* Azul transparente */
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: left;
    position:fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    border-radius: 50px;
}

.menu-toggle {
    cursor: pointer;
}

.menu {
    display: none;
    transition: transform 0.3s ease;
}

.menu.active {
    display: block;
}

.menu ul {
    list-style-type: none;
    margin: 10;
    padding: 15;
}

.menu ul li {
    display: block;
    margin-bottom: 20px;
}

.menu ul li a {
    color: #fff;
    text-decoration: none;
}

.menu ul li a:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
    margin-top: 80px; /* Ajuste para evitar sobreposição com o cabeçalho */
}

#representacao3d {
    display: flex;
    justify-content:center;
    margin-top: 150px;
}

.posicao, .text {
   flex: 1;
   padding: 20px;
}

.text {
    text-align: center;
    justify-content: center;
    margin-top: 250px;
}

#hardware1 {
    display:contents;
}

.introducao {
    margin-top: 60px;
    display: flex;
    text-align: left;
    font-size: large;
    align-items: center;
}


.imagem1 img {
    display: flex;
    margin-left: 45px;
    margin-top: 60px;
    margin-left: 20px;
    width: 90%;
    height: auto;
    border-radius: 10px;
}

button {
    padding: 5px;
    border-radius: 5px;
    background-color: rgba(0, 123, 255, 0.7);
    align-items: center;
}

#hardware2 {
    display:flex; 
    margin-top: 20px;
    text-align: center; 
    vertical-align: middle;
    height: auto;
}

.explicacoes{
    flex: 1;
    margin: 5 15px;
    align-content: center;
    text-align: center;
    background-color:rgba(168, 197, 226, 0.7) ;
    transition: all 0.4s ease;
    font-size: larger;
}

.explicacoes:hover {
    background-color: rgba(0, 123, 255, 0.7);
    width: 260px;
    border-radius: 10px;
}

.titulo {
    text-align:center;
    font-size: larger;
}

.video {
    display: flex;
    justify-content: center;
}

#meuvideo {
    width: 70%;
    margin-top: 10px;
    
}

#video1{
    width: 100%;
    height: auto;
    border-radius: 20px;
}

.shapr3d {
    display: flex;
    margin: 5 11px;
    margin-bottom: 30px;
    align-content: center;
    text-align: center;
    background-color:rgba(168, 197, 226, 0.7) ;
    font-size: larger;
    margin: 50px;
    border-radius: 10px;
}

.Funcionalidades{
    flex: 1;
    margin: 5 15px;
    align-content: center;
    text-align: center;
    background-color:rgba(168, 197, 226, 0.7) ;
    transition: all 0.4s ease;
    font-size: larger;
}

.Funcionalidades:hover {
    background-color: rgba(0, 123, 255, 0.7);
    width: auto;
    height: auto;
    border-radius: 10px;
    color:#fff
}

.exemplo{
    display:inline-block;
    text-align: center;
    font-size: large;
    margin-top: 60;
    vertical-align: middle;
    margin-bottom: 30px;
}



.imagem2 img {
    display: flex;
    margin: auto;
    width: 70%;
    height: auto;
    border-radius: 10px;
    align-content: center;
}

footer {
     
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    width: 100%;
    margin-top: 50px;
    margin-left: -10px;
    margin-bottom: -30px;
}

.componentes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 100px;
    padding: 20px;
}

.componente img{
    height: 200px;
    width: 200px;
}

.componente {
    text-align: center;
}

.imagem {
    width: 200px; /* Ajuste conforme necessário */
    height: auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: transform 0.3s ease;
}

.descricao {
    display: none;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 5px 10px;
    border-radius: 5px;
}

.link {
    display: block;
    margin-top: 10px;
    color: #333;
    text-decoration: none;
}

.componente:hover .descricao {
    display: block;
}

.componente:hover .imagem {
    transform: scale(1.1);
}

.container1 {
    display: flex;
    align-items: center;  
    justify-content: center;
}

.texto2 {
    flex: 1;
    padding: 20px;
    font-size: large;
}

.imagem4 {
    flex: 1;
    padding: 20px;
}

.imagem4 img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}


.container {
    display: flex;
    justify-content: space-around;
    margin-right: 22px; 
    margin-top: 80px;
    align-items: center;
    margin-left: 10px;
    background-color: rgba(0, 123, 255, 0.7);;
    border-radius: 12px;
}

.container:hover{
    background-color: rgba(220, 220, 220, 0.7);
    width: auto;
    height: auto;
    border-radius: 10px;
    transition: all 0.4s ease;
    transform: scale(0.9);
    padding: auto;
}

.item {
    text-align:center;
}

.item img {
    width: 250px;
    height: 250px;
    margin-bottom: 10px;
    margin-top: 12px;
    border-radius: 15px;
}

.primaria {
    text-align: center;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -50px;
    width: 50%;
    font-size: larger;
}

.secundaria {
    text-align: center;
    font-size: larger;
    margin-top: 60px;
    margin-bottom: -45px;
}

.adendo {
    background-color: #f0f0f0;
    border-left: 4px solid #FFA500;
    padding: 15px;
    margin-bottom: 20px;
    margin-top: 30px;
    font-size:medium;
    border-radius: 5px;
}

.adendo h3 {
    color: #FFA500;
    margin-top: 0;
}

.desafios-logistica h3{
    color: #FFA500;
    margin-top: 0;
}

.desafios-logistica {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
    border-left: 4px solid #FFA500;
    font-size:medium;
    margin-bottom: 30px;
}

.desafios-logistica ol {
    list-style-type: none;
    padding-left: 20px;
}

.desafios-logistica li {
    position: relative;
    margin-bottom: 10px; 
}

.desafios-logistica li:before {
    content: "\2022";
    color: #333;
    font-size: 1.2em;
    font-weight: bold;
    position: absolute;
    left: -20px;
}

.funcionamento-logistica{
    margin-top: 100px;
    align-items: center;
    justify-content: center;
}

.titulo-logi{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: larger;
}

.tres-topicos {
    display: flex;
    justify-content: space-around;
    margin-right: 30px; 
    margin-top: 40px;
    align-items: center;
    margin-left: 30px;
    font-size: medium;
    background-color: rgba(220, 220, 220, 0.7);
    padding: 15px;
    border-radius: 10px;
    transform: scale(1.0);
}

.tres-topicos:hover{
    background-color: #f9f9f9;
    width: auto;
    height: auto;
    border-radius: 10px;
    transition: all 0.4s ease;
    transform: scale(1.0);
    padding: auto;
}



.selecao{
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    margin-right: 400pxpx; 
    margin-top: 40px;
    align-items: center;
    margin-left: 30px;
    font-size: medium;
}

.selecao h3 {
    text-align:center;
    margin-bottom: 1130px;
    font-size: larger;
}
.selecao img {
    width: 250px;
    height: 250px;
    margin-bottom: 10px;
    margin-top: 12px;
    border-radius: 15px;
}


.tarefas{
    display: flex;
    justify-content: space-around;
    margin-right: 30px; 
    margin-top: 40px;
    align-items: center;
    margin-left: 30px;
    font-size: medium;
    background-color: rgba(220, 220, 220, 0.7);
    padding: 15px;
    border-radius: 10px;
    transform: scale(1.0);
    border-radius: 10px;
}

.tarefas:hover{
    background-color: #f9f9f9;
    width: auto;
    height: auto;
    border-radius: 10px;
    transition: all 0.4s ease;
    transform: scale(1.05);
    padding: auto;
}

.titulomaterias{
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: larger;
}

main {
    padding: 20px;
}

.materia {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    transform: scale(1.0);
}

.materia:hover{
    background-color: #f9f9f9;
    width: auto;
    height: auto;
    border-radius: 10px;
    transition: all 0.4s ease;
    transform: scale(1.05);
    padding: auto;
}

.materia i {
    font-size: 36px;
    margin-right: 20px;
}

.materia div {
    flex: 1;
}

.materia h2 {
    font-size: 24px;
    margin: 0;
}

.materia p {
    font-size: 16px;
    color: #000000;
}